In [70]:

import requests
from bs4 import BeautifulSoup
import pandas as pd
url = "https://en.wikipedia.org/wiki/European_Cup_and_UEFA_Champions_League_records_and_statistics#Clubs"


headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
}
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, "html.parser")
all_tables = pd.read_html(response.text)
df = all_tables[0]

C:\Users\Jainil\AppData\Local\Temp\ipykernel_15176\2226588990.py:12: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  all_tables = pd.read_html(response.text)

In [71]:
df.rename(columns={"vte Club": "team",
                   "Title(s)": "champion",
                   "Runners-up": "runner_up",
                   "Seasons won": "seasons_won",
                   "Seasons runner-up": "seasons_runnerup",
                  }, inplace=True)

In [72]:
df

,team,champion,runner_up,seasons_won,seasons_runnerup
0,Real Madrid,15,3,"1956, 1957, 1958, 1959, 1960, 1966, 1998, 2000...","1962, 1964, 1981"
1,Milan,7,4,"1963, 1969, 1989, 1990, 1994, 2003, 2007","1958, 1993, 1995, 2005"
2,Bayern Munich,6,5,"1974, 1975, 1976, 2001, 2013, 2020","1982, 1987, 1999, 2010, 2012"
3,Liverpool,6,4,"1977, 1978, 1981, 1984, 2005, 2019","1985, 2007, 2018, 2022"
4,Barcelona,5,3,"1992, 2006, 2009, 2011, 2015","1961, 1986, 1994"
5,Ajax,4,2,"1971, 1972, 1973, 1995","1969, 1996"
6,Inter Milan,3,4,"1964, 1965, 2010","1967, 1972, 2023, 2025"
7,Manchester United,3,2,"1968, 1999, 2008","2009, 2011"
8,Juventus,2,7,"1985, 1996","1973, 1983, 1997, 1998, 2003, 2015, 2017"
9,Benfica,2,5,"1961, 1962","1963, 1965, 1968, 1988, 1990"
10,Chelsea,2,1,"2012, 2021",2008
11,Nottingham Forest,2,0,"1979, 1980",—
12,Porto,2,0,"1987, 2004",—
13,Borussia Dortmund,1,2,1997,"2013, 2024"
14,Celtic,1,1,1967,1970
15,Hamburger SV,1,1,1983,1980
16,Steaua București,1,1,1986,1989
17,Marseille,1,1,1993,1991
18,Manchester City,1,1,2023,2021
19,Paris Saint-Germain,1,1,2025,2020
20,Feyenoord,1,0,1970,—
21,Aston Villa,1,0,1982,—
22,PSV Eindhoven,1,0,1988,—
23,Red Star Belgrade,1,0,1991,—
24,Atlético Madrid,0,3,—,"1974, 2014, 2016"
25,Reims,0,2,—,"1956, 1959"
26,Valencia,0,2,—,"2000, 2001"
27,Fiorentina,0,1,—,1957
28,Eintracht Frankfurt,0,1,—,1960
29,Partizan,0,1,—,1966
30,Panathinaikos,0,1,—,1971
31,Leeds United,0,1,—,1975
32,Saint-Étienne,0,1,—,1976
33,Borussia Mönchengladbach,0,1,—,1977
34,Club Brugge,0,1,—,1978
35,Malmö FF,0,1,—,1979
36,Roma,0,1,—,1984
37,Sampdoria,0,1,—,1992
38,Bayer Leverkusen,0,1,—,2002
39,Monaco,0,1,—,2004
40,Arsenal,0,1,—,2006
41,Tottenham Hotspur,0,1,—,2019

In [73]:
df.columns

Index(['team', 'champion', 'runner_up', 'seasons_won', 'seasons_runnerup'], dtype='object')

In [67]:
print(len(all_tables))

21

In [69]:
df2 = all_tables[2]
df2

,Rank,Club,Seasons,Pld,W,D,L,GF,GA,GD,Pts
0,1,Real Madrid,56,511,307,85,119,1125,570,+555,699
1,2,Bayern Munich,42,416,251,81,84,878,412,+466,583
2,3,Barcelona,36,371,217,80,74,752,395,+357,514
3,4,Juventus,39,319,160,77,82,505,322,+183,397
4,5,Manchester United,30,299,161,70,68,545,299,+246,392
5,6,Liverpool,29,266,156,50,60,510,242,+268,362
6,7,Benfica,45,317,142,71,104,518,376,+142,355
7,8,Milan,32,283,138,71,74,457,272,+185,347
8,9,Porto,38,277,126,61,90,411,313,+98,313
9,10,Inter Milan,27,236,117,60,59,341,233,+107,294
10,11,Arsenal,24,233,123,47,63,405,240,+165,293
11,12,Ajax,40,255,114,64,77,404,303,+101,292
12,13,Dynamo Kyiv,41,264,109,57,98,369,324,+45,275
13,14,Chelsea,20,209,109,54,46,359,191,+168,272
14,15,Celtic,40,240,105,46,89,357,302,+55,256
15,16,Borussia Dortmund,24,205,99,40,66,354,261,+93,238
16,17,Atlético Madrid,21,188,93,45,50,288,194,+94,231
17,18,Paris Saint-Germain,19,180,97,32,51,361,207,+154,226
18,19,PSV Eindhoven,33,219,81,54,84,311,296,+15,216
19,20,Manchester City,16,146,82,29,35,308,170,+138,193
20,21,Red Star Belgrade,31,173,76,36,61,313,248,+65,188
21,22,Anderlecht,34,200,70,44,86,282,320,–38,184
22,23,Dinamo Zagreb,26,170,72,35,63,256,240,+16,179
23,24,Rangers,35,185,67,45,73,257,272,–15,179
24,25,Galatasaray,30,199,66,47,86,248,312,–64,179

In [79]:
top_team=df[df['champion']>4]

In [80]:
top_team.head(5)

,team,champion,runner_up,seasons_won,seasons_runnerup
0,Real Madrid,15,3,"1956, 1957, 1958, 1959, 1960, 1966, 1998, 2000...","1962, 1964, 1981"
1,Milan,7,4,"1963, 1969, 1989, 1990, 1994, 2003, 2007","1958, 1993, 1995, 2005"
2,Bayern Munich,6,5,"1974, 1975, 1976, 2001, 2013, 2020","1982, 1987, 1999, 2010, 2012"
3,Liverpool,6,4,"1977, 1978, 1981, 1984, 2005, 2019","1985, 2007, 2018, 2022"
4,Barcelona,5,3,"1992, 2006, 2009, 2011, 2015","1961, 1986, 1994"

In [83]:
top_team1=df[(df['champion']>4)&(df['runner_up']>=3)]

In [84]:
top_team1.head(5)

,team,champion,runner_up,seasons_won,seasons_runnerup
0,Real Madrid,15,3,"1956, 1957, 1958, 1959, 1960, 1966, 1998, 2000...","1962, 1964, 1981"
1,Milan,7,4,"1963, 1969, 1989, 1990, 1994, 2003, 2007","1958, 1993, 1995, 2005"
2,Bayern Munich,6,5,"1974, 1975, 1976, 2001, 2013, 2020","1982, 1987, 1999, 2010, 2012"
3,Liverpool,6,4,"1977, 1978, 1981, 1984, 2005, 2019","1985, 2007, 2018, 2022"
4,Barcelona,5,3,"1992, 2006, 2009, 2011, 2015","1961, 1986, 1994"